asgiref==3.7.2
asttokens==2.4.1
attrs==23.2.0
bcrypt==4.1.2
cffi==1.16.0
colorama==0.4.6
coverage==7.4.1
cryptography==42.0.5
decorator==5.1.1
distlib==0.3.8
Django==4.2
django-rest==0.8.7
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.1
executing==2.0.1
filelock==3.13.1
ipython==8.22.2
jedi==0.19.1
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
libcst==0.3.4
matplotlib-inline==0.1.6
mypy-extensions==1.0.0
paramiko==3.4.0
parso==0.8.3
pillow==10.2.0
platformdirs==4.2.0
prompt-toolkit==3.0.43
pure-eval==0.2.2
pycparser==2.21
Pygments==2.17.2
PyJWT==2.8.0
PyNaCl==1.5.0
pyproject-toml==0.0.10
pytz==2024.1
PyYAML==6.0.1
referencing==0.33.0
rpds-py==0.18.0
setuptools==69.1.1
six==1.16.0
sqlparse==0.4.4
stack-data==0.6.3
toml==0.10.2
traitlets==5.14.1
typing-inspect==0.9.0
typing_extensions==4.10.0
tzdata==2024.1
virtualenv==20.25.0
wcwidth==0.2.13
wheel==0.42.0
